body {
  font-family: 'Noto Sans TC', sans-serif;
  background-color: #282a36;
  text-align: center;
  color:#f8f8f2;
}

h1 { 
  color: #f8f8ee;
  -webkit-border-radius: 5px;
}

h3{
  color:#8be9fd;
}
#img{  
  width: 100px;
  height: 100px;
  display: block;
  margin: 0px auto;
}

#start{
  margin: 30px;
  text-transform: uppercase;
  font-weight: 5;
  font-size: 25pt;
  letter-spacing: 10px;
  color: rgb(49, 13, 63);
  border-style: outset ;
  border: 2px solid rgb(16, 3, 41);
	box-shadow: 15px 15px 0 rgb(40, 34, 126),
		-15px -15px 0 rgb(47, 3, 56),
		-5px 5px 0 transparent,
		5px -5px 0 transparent;
	transition: 150ms ease-in-out;  
  -webkit-border-radius: 75px;
}

#start:hover{
  color: rgb(116, 9, 9);
  box-shadow: 20px 5px 0 rgb(116, 9, 9), -20px -5px 0 rgb(12, 11, 109);
}
#maisons{
  -moz-border-radius:75px;
  -webkit-border-radius: 75px;
}

#user_house{
  -webkit-border-radius: 75px;
}

#texte_qst{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 2em;
  text-shadow: .1em .1em 0 hsl(200 50% 30%);
}

button {
  margin: 2%;
  width: 25%;
	cursor: pointer;
	font-size: 40px;
	font-weight: bold;
  font-family:'Trebuchet MS';
  -webkit-border-radius: 5px;
	color: rgb(97, 96, 88);
	background: white;
	border: 2px solid rgb(16, 3, 41);
	box-shadow: 25px 25px 0 rgb(126, 34, 34),
		-25px -25px 0 rgb(12, 11, 124),
		-5px 5px 0 transparent,
		5px -5px 0 transparent;
	transition: 150ms ease-in-out;
}

#rep1:hover {
  font-size: 50px;
  color: #f8f8ee;
  border: transparent;
  background: rgb(12, 11, 109);
	box-shadow: 0px 5px 0 rgb(12, 11, 109), 0px -5px 0 rgb(12, 11, 109);
}
#rep2:hover{
  font-size: 50px;
  color: #474444;
  border: transparent;
  background: rgb(255, 255, 255);
	box-shadow: 0px 5px 0 rgb(255, 255, 255), 0px -5px 0 rgb(255, 255, 255);
}
#rep3:hover{
  
  color: #f8f8ee;
  border: transparent;
  background: rgb(126, 34, 34);
  box-shadow: 0px 5px 0 rgb(126, 34, 34), 0px -5px 0 rgb(126, 34, 34);
}


#voisins_serp{
  margin-top: 10px;
  padding: 10px;
  border-style:solid;
  border-color:darkgreen;
}

#voisins_grif{
  margin-top: 10px;
  padding: 10px;
  border-style:solid;
  border-color:rgb(172, 4, 102);
}

#voisins_serd{
  margin-top: 10px;
  padding: 10px;
  border-style:solid;
  border-color:rgb(12, 26, 223);
}

#voisins_pouf{
  margin-top: 10px;
  padding: 10px;
  border-style:solid;
  border-color:rgb(223, 209, 11);
}

#result:hover{
  box-shadow: 0px 0px 0 rgb(126, 34, 34),
  0px 0px 0 rgb(12, 11, 124)
}

#refresh{
  font-size: 10px;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 5px;
  display: flex;
}